body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "微软雅黑";
  color: #666;
}

@media screen and (max-width: 760px) {
  .container .title{
    width: 80%;
  }
  .container .title h3{
    font-size: 16px;
  }
  .container .btns{
    margin: 0 auto;
    width: 80%;
    height: 20%;
  }
  .container .btns a{
    display: block;
    width: 31%;
    height: 30px;
    float: left;
    text-align: center;
    padding-left: 2px;
    line-height: 30px;
    background-color: rgba(0,164,238,0.4);
    color: #fff;
    margin-right: 3px;
    border-radius: 5px;
    background-image: url(../uploads/icon.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 4px center;
  }
}
body{
  height: 100vh;
  background-color: pink;
}
a {
  text-decoration: none;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
}
.container{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(../uploads/bg1.jpeg);
  background-size:cover;
}

.container .house {
  width: 200px;
  height: 100px;
  background: url(../uploads/house.png);
  transform: rotateY(180deg);
  animation: run .6s steps(12) infinite;
}
@keyframes run {
  0% {
    background-position: 0,0;
  }
  100% {
    background-position: -2400px,0;
  }
}
.nav{
  width: 20%;
  height: 20%;
}
.nav img{
  width: 100%;
  transition: all 0.5s linear;
}
.nav img:hover{
  transform: rotate(-360deg); 
}
.center{
  width: 50%;
}
.center img{
  display: block;
  margin: 0 auto;
  width: 100%;
  animation: change 1s linear;
}
@keyframes change {
  0% {
    transform: scale(0);
  }
  90%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
.title {
  width: 60%;
}
.title h3{
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  /* line-height: 1rem; */
  font-size: 2rem;
  margin: 5% auto;
}
.btns{
  margin: 0 auto;
  width: 60%;
  height: 20%;
}
.btns a{
  display: block;
  width: 32%;
  height: 50px;
  float: left;
  text-align: center;
  line-height: 50px;
  background-color: rgba(0,164,238,0.4);
  color: #fff;
  margin-right: 3px;
  border-radius: 5px;
  background-image: url(../uploads/icon.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 8px center;
}
.btns a:hover{
  background-color: rgba(218, 107, 195, 0.4);
}